<<<<<<< HEAD
<div class="container mt-4">
    <div class="card shadow p-4">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}


        <div class="row justify-content-center">
            <div class="col-md-8 mb-3">
                {{ form_label(form.reponse, 'Réponse', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.reponse, {'attr': {'class': 'form-control form-control-lg'}}) }}
                {{ form_errors(form.reponse) }}
            </div>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">
                {{ button_label|default('Enregistrer') }}
            </button>
            <a href="{{ path('app_repquestionnaire_index') }}" class="btn btn-secondary">Retour</a>
        </div>

        {{ form_end(form) }}
    </div>
</div>
=======
{{ form_start(form, {'attr': {'class': 'row g-3'}}) }}

    {% for field in form %}
        <div class="col-md-6">
            {{ form_row(field) }}
        </div>
    {% endfor %}

    <div class="col-12">
        <button class="btn btn-success">Enregistrer</button>
    </div>

{{ form_end(form) }}
>>>>>>> origin/Haifa
