{% extends 'base.html.twig' %}

{% block title %}Fiche employe{% endblock %}

{% block body %}
    <h1>Fiche employe</h1>

    <table class="table">
        <tbody>
        <tr>
                <th>CIN</th>
                <td>{{ fiche_employe.CIN }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fiche_employe.nom }}</td>
            </tr>
            
            <tr>
                <th>Prenom</th>
                <td>{{ fiche_employe.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ fiche_employe.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ fiche_employe.adresse }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ fiche_employe.city }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ fiche_employe.zip }}</td>
            </tr>
            <tr>
                <th>Numero Telephone</th>
                <td>{{ fiche_employe.numTel }}</td>
            </tr>
            <tr>
                <th>CV</th>
                <td>{{ fiche_employe.cvPdfUrl }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_fiche_employe_index') }}">back to list</a>

    <a href="{{ path('app_fiche_employe_edit', {'id': fiche_employe.id}) }}">edit</a>

    <a href="{{ path('app_fiche_employe_delete', {'id': fiche_employe.id}) }}">delete</a>

    
    
{% endblock %}
