{% extends 'base.html.twig' %}

{% block title %}candidat{% endblock %}

{% block body %}
    <h1>candidat</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Nom</th>
                <td>{{ candidat.nom }}</td>
            </tr>
            
            <tr>
                <th>Prenom</th>
                <td>{{ candidat.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidat.email }}</td>
            </tr>
            <tr>
                <th>telephone</th>
                <td>{{ candidat.telephone }}</td>
            </tr>
            <tr>
                <th>CV</th>
                <td>{{ candidat.cvPdfUrl }}</td>
            </tr>
            <tr>
                <th>entreprise</th>
                <td>{{ candidat.entreprise.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_candidat_index') }}">back to list</a>

    {{ include('candidat/_delete_form.html.twig') }}

    
    
{% endblock %}
