<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}Welcome!{% endblock %}</title>
      
      {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('UI/assets/vendors/mdi/css/materialdesignicons.min.css') }}">
      <link rel="stylesheet" href="{{ asset('UI/assets/vendors/css/vendor.bundle.base.css') }}">
      <link rel="stylesheet" href="{{ asset('UI/assets/vendors/jvectormap/jquery-jvectormap.css') }}">
      <link rel="stylesheet" href="{{ asset('UI/assets/vendors/flag-icon-css/css/flag-icon.min.css') }}">
      <link rel="stylesheet" href="{{ asset('UI/assets/vendors/owl-carousel-2/owl.carousel.min.css') }}">
      <link rel="stylesheet" href="{{ asset('UI/assets/vendors/owl-carousel-2/owl.theme.default.min.css') }}">
      <link rel="stylesheet" href="{{ asset('UI/assets/css/style.css') }}">
      <link rel="shortcut icon" href="{{ asset('UI/assets/images/favicon.png') }}" />
      {% endblock %}

      {% block javascripts %}
      <!-- plugins:js -->
      <script src="{{ asset('UI/assets/vendors/js/vendor.bundle.base.js') }}"></script>
      <!-- endinject -->
      <!-- Plugin js for this page -->
      <script src="{{ asset('UI/assets/vendors/chart.js/Chart.min.js') }}"></script>
      <script src="{{ asset('UI/assets/vendors/progressbar.js/progressbar.min.js') }}"></script>
      <script src="{{ asset('UI/assets/vendors/jvectormap/jquery-jvectormap.min.js') }}"></script>
      <script src="{{ asset('UI/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
      <script src="{{ asset('UI/assets/vendors/owl-carousel-2/owl.carousel.min.js') }}"></script>
      <!-- End plugin js for this page -->
      <!-- inject:js -->
      <script src="{{ asset('UI/assets/js/off-canvas.js') }}"></script>
      <script src="{{ asset('UI/assets/js/hoverable-collapse.js') }}"></script>
      <script src="{{ asset('UI/assets/js/misc.js') }}"></script>
      <script src="{{ asset('UI/assets/js/settings.js') }}"></script>
      <script src="{{ asset('UI/assets/js/todolist.js') }}"></script>
      <!-- endinject -->
      <!-- Custom js for this page -->
      <script src="{{ asset('UI/assets/js/dashboard.js') }}"></script>
      <!-- End custom js for this page -->
          {% block importmap %}{{ importmap('app') }}{% endblock %}
      {% endblock %}
  </head>
  <body>
 <div id="alert-container" class="alert-container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
</div>

    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="#"><img src="{{ asset('UI/assets/images/Logo.png') }}" alt="logo" /></a>
            <a class="sidebar-brand brand-logo-mini" href="#"><img src="{{ asset('UI/assets/images/Logo.png') }}" alt="logo" /></a>
          </div>
          <ul class="nav">
            <li class="nav-item nav-category">
              <span class="nav-link">Navigation</span>
            </li>

            <!-- Pointage -->
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#menu-pointage" aria-expanded="false" aria-controls="menu-pointage">
                <span class="menu-icon"><i class="mdi mdi-calendar-clock"></i></span>
                <span class="menu-title">Pointage</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="menu-pointage">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/pointage/employe">Ajouter Pointage</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/pointage/csv">Ajouter Pointage Par CSV</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/pointage/newPointageEmp">Ajouter Pointage (Pour Employé)</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/pointage">Afficher La Liste</a></li>
                </ul>
              </div>
            </li>

            <!-- Demande -->
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#menu-demande" aria-expanded="false" aria-controls="menu-demande">
                <span class="menu-icon"><i class="mdi mdi-file-document-edit"></i></span>
                <span class="menu-title">Demande</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="menu-demande">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/demande/new">Ajouter demande</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/demande">Afficher La Liste</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/demande/liste/attente">Gérer les demandes</a></li>
                </ul>
              </div>
            </li>

            <!-- Questionnaire -->
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#menu-questionnaire" aria-expanded="false" aria-controls="menu-questionnaire">
                <span class="menu-icon"><i class="mdi mdi-format-list-bulleted"></i></span>
                <span class="menu-title">Questionnaire</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="menu-questionnaire">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/questionnaire/new">Ajouter questionnaire</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/questionnaire">Afficher La Liste</a></li>
                </ul>
              </div>
            </li>

            <!-- Entreprise -->
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#menu-entreprise" aria-expanded="false" aria-controls="menu-entreprise">
                <span class="menu-icon"><i class="mdi mdi-domain"></i></span>
                <span class="menu-title">Entreprise</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="menu-entreprise">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{{ path('app_entreprise_index') }}">Liste des entreprises</a></li>
                </ul>
              </div>
            </li>

            <!-- Reponse Questionnaire -->
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#menu-rep-questionnaire" aria-expanded="false" aria-controls="menu-rep-questionnaire">
                <span class="menu-icon"><i class="mdi mdi-comment-check-outline"></i></span>
                <span class="menu-title">Réponse Questionnaire</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="menu-rep-questionnaire">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/repquestionnaire">Afficher La Liste</a></li>
                </ul>
              </div>
            </li>

            <!-- Paie -->
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#menu-paie" aria-expanded="false" aria-controls="menu-paie">
                <span class="menu-icon"><i class="mdi mdi-cash-multiple"></i></span>
                <span class="menu-title">Paie</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="menu-paie">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/paie">Afficher La Liste</a></li>
                </ul>
              </div>
            </li>
<<<<<<< HEAD

            <!-- Article -->
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#menu-article" aria-expanded="false" aria-controls="menu-article">
                <span class="menu-icon"><i class="mdi mdi-package-variant"></i></span>
                <span class="menu-title">Article</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="menu-article">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/article/new">Ajouter Article</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/article">Afficher La Liste</a></li>
                </ul>
              </div>
            </li>

            <!-- Facture -->
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#menu-facture" aria-expanded="false" aria-controls="menu-facture">
                <span class="menu-icon"><i class="mdi mdi-file-document-box-outline"></i></span>
                <span class="menu-title">Facture</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="menu-facture">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/facture/new">Ajouter Facture</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/facture">Afficher La Liste</a></li>
                </ul>
              </div>
            </li>

            <!-- Paiement -->
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#menu-paiement" aria-expanded="false" aria-controls="menu-paiement">
                <span class="menu-icon"><i class="mdi mdi-credit-card"></i></span>
                <span class="menu-title">Paiement</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="menu-paiement">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/paiement/new">Ajouter Paiement</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/paiement">Afficher La Liste</a></li>
                </ul>
              </div>
            </li>

            <!-- Departement -->
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#departement-menu" aria-expanded="false" aria-controls="departement-menu">
                <span class="menu-icon"><i class="mdi mdi-office-building"></i></span>
                <span class="menu-title">Departement</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="departement-menu">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{{ path('app_departement_index') }}">Liste des départements</a></li>
                </ul>
              </div>
            </li>

            <!-- Client/Fournisseur -->
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#menu-clfr" aria-expanded="false" aria-controls="menu-clfr">
                <span class="menu-icon"><i class="mdi mdi-account-multiple-outline"></i></span>
                <span class="menu-title">Client/Fournisseur</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="menu-clfr">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/clfr/new">Ajouter client Fournisseur</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/clfr">Afficher La Liste</a></li>
                </ul>
              </div>
            </li>

            <!-- Feedback -->
            <li class="nav-item menu-items">
              <a class="nav-link" href="{{ path('app_clfr_feedback') }}">
                <span class="menu-icon"><i class="mdi mdi-message-reply-text"></i></span>
                <span class="menu-title">Feedback</span>
              </a>
            </li>
=======
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                  <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">employe</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/employe/new">Ajouter employe</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/employe">Afficher La Liste employe</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                  <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">Fiche Employe</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/fiche/employe/new">Ajouter Fiche</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/fiche/employe">Afficher La Liste des fichers</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item menu-items">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                  <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">Candidat</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  
                  <li class="nav-item"> <a class="nav-link" href="/candidat">Afficher La Liste des Candidats/a></li>
                </ul>
              </div>
            </li>
>>>>>>> origin/yassine
          </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <!-- partial:partials/_navbar.html -->
          <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
              <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{{ asset('UI/assets/images/Logo.png') }}" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
              <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
              </button>
              <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-settings d-none d-lg-block">
                  <a class="nav-link" href="#">
                    <i class="mdi mdi-view-grid"></i>
                  </a>
                </li>
                <li class="nav-item dropdown border-left">
                  <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-email"></i>
                    <span class="count bg-success"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                    <h6 class="p-3 mb-0">Messages</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <img src="{{ asset('UI/assets/images/faces/face4.jpg') }}" alt="image" class="rounded-circle profile-pic">
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                        <p class="text-muted mb-0"> 1 Minutes ago </p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <img src="{{ asset('UI/assets/images/faces/face2.jpg') }}" alt="image" class="rounded-circle profile-pic">
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
                        <p class="text-muted mb-0"> 15 Minutes ago </p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <img src="{{ asset('UI/assets/images/faces/face3.jpg') }}" alt="image" class="rounded-circle profile-pic">
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1">Profile picture updated</p>
                        <p class="text-muted mb-0"> 18 Minutes ago </p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <p class="p-3 mb-0 text-center">4 new messages</p>
                  </div>
                </li>
                <li class="nav-item dropdown border-left">
                  <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                    <i class="mdi mdi-bell"></i>
                    <span class="count bg-danger"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                    <h6 class="p-3 mb-0">Notifications</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-calendar text-success"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Event today</p>
                        <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-settings text-danger"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Settings</p>
                        <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-link-variant text-warning"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Launch Admin</p>
                        <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <p class="p-3 mb-0 text-center">See all notifications</p>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                    <div class="navbar-profile">
                      <img class="img-xs rounded-circle" src="{{ asset('UI/assets/images/faces/face15.jpg') }}" alt="">
                      <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                      <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                    </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                    <h6 class="p-3 mb-0">Profile</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-settings text-success"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Settings</p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                          <i class="mdi mdi-logout text-danger"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <p class="preview-subject mb-1">Log out</p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <p class="p-3 mb-0 text-center">Advanced settings</p>
                  </div>
                </li>
              </ul>
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-format-line-spacing"></span>
              </button>
            </div>
          </nav>
          <!-- partial -->
          <div class="main-panel">
            <div class="content-wrapper">
              {% block body %}
              {% endblock %}
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © powerHR 2025</span>
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <label for="copy-email" class="text-white mb-0">Contactez-nous :</label>
                    <input type="text"
                          id="copy-email"
                          class="btn btn-outline-light fw-bold text-uppercase"
                          value="Support@powerhr.tn"
                          readonly
                          onclick="this.select();document.execCommand('copy');"
                          style="cursor: pointer; width: auto;">
                </div>
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"></span>
              </div>
            </footer>
            <!-- partial -->
          </div>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  </body>
</html>
